<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="StoreDialog" Width="370" Height="270" Title="Store configuration">

        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Configure the store" />

        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="label3" Type="Text"          X="15"  Y="50" Height="15" Width="348"  Text="Specify the path to be used as the store for compromised passwords" />
        <Control Id="label1" Type="Text"          X="15"  Y="70" Height="15" Width="51"   Text="Path:" />
        <Control Id="txtLogFilePath" Type="Edit"  X="90"  Y="70" Height="15" Width="200"  Property="STOREDIR"/>

        <Control Id="btBrowseLogFilePath" Type="PushButton"
                                                  X="297" Y="70" Height="17" Width="56" Text="Browse..." >
          <Publish Property="_BrowseProperty" Value="STOREDIR" Order="1">1</Publish>
          <Publish Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
        </Control>

        <Control Id="BannerBitmap" Type="Bitmap" Height="44" Width="370" X="0" Y="0" Text="!(loc.InstallDirDlgBannerBitmap)" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>