<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
             Name="Lithnet Password Protection for Active Directory"
             Language="1033"
             Version="!(bind.FileVersion.fil8af462b935f3462f99441454d9154d51)"
             Manufacturer="Lithnet"
             UpgradeCode="0b7695f2-5eeb-4331-923a-ca56af5f1eb1">
        <Package InstallerVersion="301"
                 Compressed="yes"
                 InstallScope="perMachine"
                 InstallPrivileges="elevated"
                 Manufacturer="Lithnet"
                 Platform="x64"/>


        <Icon Id="passwordprotectionico" SourceFile="password-protection.ico"/>
        <Property Id="ARPPRODUCTICON" Value="passwordprotectionico" />

        <MajorUpgrade Schedule="afterInstallExecute"
                      DowngradeErrorMessage="A later version of [ProductName] is already installed"
                      AllowSameVersionUpgrades="yes"/>
        <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />

        <Property Id="STOREDIR" Secure="yes">
            <RegistrySearch Id="r152002c8c7b14f7f9d56a3129a68cac3"
                            Root="HKLM"
                            Key="Software\Lithnet\PasswordFilter"
                            Name="Store"
                            Type="raw"
                            Win64="yes" />
        </Property>

        <Property Id="INSTALLLEVEL" Value="2" />

        <PropertyRef Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED" />

        <Condition Message="[ProductName] Requires .NET Framework 4.7.2 or later to be installed">
            <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED]]>
        </Condition>

        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

        <UI>
            <UIRef Id="WixUI_FeatureTree" />

            <DialogRef Id="LicenseAgreementDlg" />

            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="UserExit" />

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg" Order="2">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="4">1</Publish>

            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="3">1</Publish>
            <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="StoreDialog" Order="1">1</Publish>
            <Publish Dialog="StoreDialog" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">1</Publish>
            <Publish Dialog="StoreDialog" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1">1</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="StoreDialog" Order="1">1</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>
        </UI>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="System64Folder" Name="System64Folder" />

            <Directory Id="ProgramFiles64Folder" >
                <Directory Id="PSROOT" Name="WindowsPowerShell">
                    <Directory Id ="PSMODULESROOT" Name="Modules">
                        <Directory Id="PSMODULEFOLDER" Name="LithnetPasswordProtection">
                            <Directory Id="ENUSHELPFOLDER" Name="en-us"/>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="LITHNETROOTDIR" Name="Lithnet">
                    <Directory Id="APPROOTDIR" Name="Active Directory Password Protection">
                        <Directory Id="STOREDIR" Name="Store"/>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="WindowsFolder">
                <Directory Id="GAC" Name="GAC"/>
                <Directory Id="POLICYFOLDER" Name="PolicyDefinitions">
                    <Directory Id="POLICYFOLDERLOCALIZATIONS" Name="en-US"/>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="Filter" Title="Lithnet Password Protection for Active Directory" Level="1" AllowAdvertise="no" Display="expand" TypicalDefault="install">
            <Feature Id="FeatureNotificationPackage" Title="Enable password filtering on this computer" Level="2" AllowAdvertise="no" TypicalDefault="install" Description="This feature registers the password filter with the Windows LSASS process. On domain controllers, this means all user password changes are processed by the filter. On workstations and member services, this only impacts passwords set for local users">
                <ComponentRef Id="cmp6339c3e064764797a0b4d747e655cb0e"/>
                <ComponentGroupRef Id="FilterDLL" />
                <MergeRef Id="VCRedist"/>
            </Feature>
            <Feature Id="FeaturePSModule" Title="PowerShell module" Level="2" AllowAdvertise="no" TypicalDefault="install" Description="Installs the PowerShell module on this computer which allows you to manage the password store and test passwords">
                <ComponentGroupRef Id="PSModule"/>
                <ComponentGroupRef Id="FilterDLL" />
                <MergeRef Id="VCRedist"/>
            </Feature>
        </Feature>

        <Feature Id="FeatureGPOExtensions" Title="Group policy templates (ADMX)" Level="1" AllowAdvertise="no" TypicalDefault="install" Description="Installs the group policy ADMX files which allows you to edit the password protection group policy settings from this machine">
            <ComponentGroupRef Id="GPOExtensions"/>
        </Feature>

        <DirectoryRef Id="TARGETDIR">
            <!--<Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Redist\MSVC\v142\MergeModules\Microsoft_VC142_CRT_x64.msm" DiskId="1" Language="0"/>-->
            <Merge Id="VCRedist" SourceFile="C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Redist\MSVC\v143\MergeModules\Microsoft_VC143_CRT_x64.msm" DiskId="1" Language="0"/>
        </DirectoryRef>

        <DirectoryRef Id="System64Folder">
            <Component Id="cmpa437d95c32f74a17b1b7537b38cd382a" Win64="yes" Guid="*">
                <?if $(var.Configuration) = MicrosoftSignedRelease ?>
                <File Id="fil8af462b935f3462f99441454d9154d51" KeyPath="yes" Source="MSSigned\lithnetpwdf.dll" />
                <?else?>
                <File Id="fil8af462b935f3462f99441454d9154d51" KeyPath="yes" Source="$(var.PasswordFilter.TargetPath)" />
                <?endif?>
            </Component>

            <Component Id="cmp6339c3e064764797a0b4d747e655cb0e" Guid="*">
                <RegistryKey Root="HKLM"
                             Key="System\CurrentControlSet\Control\Lsa">
                    <RegistryValue Type="multiString" Action="append" Name="Notification Packages" Value="lithnetpwdf"/>
                </RegistryKey>
            </Component>

            <Component Id="cmp35ae4dbf6f7143f39ff05a2bbe7b4abf" Guid="*">
                <RegistryKey Root="HKLM"
                             Key="Software\Lithnet\PasswordFilter"
                             ForceDeleteOnUninstall="yes">
                    <RegistryValue Type="integer" Action="write" Name="Disabled" Value="0"/>
                    <RegistryValue Type="string" Action="write" Name="Store" Value="[STOREDIR]"/>
                </RegistryKey>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="APPROOTDIR">
            <Component Id="cmpbdb687be91364145aa7b44287c14be38" Win64="yes" Guid="*">
                <File Id="filf07cd47e42574680b2b8a690abac7806" KeyPath="yes" Source="$(var.PasswordFilter.ProjectDir)messages.dll" />
            </Component>

            <Component Id="cmp3d41c57e8c89436994a394bf0b01c885" Guid="*" Win64="yes" >
                <Util:EventSource xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
                                  Name="LithnetPasswordProtection" Log="Application" EventMessageFile="[APPROOTDIR]messages.dll" SupportsErrors="yes" SupportsInformationals="yes" SupportsWarnings="yes" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="GAC">
            <Component Id="cmp5aebe5a182914904ad6fe7ced1dfc5d6" Guid="*" Win64="yes" >
                <File Id="fil0094ab6a8db643d2b6bcd01c42b88ca1" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.TargetDir)Lithnet.ActiveDirectory.PasswordProtection.dll" Assembly=".net"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="PSMODULEFOLDER">
            <Component Id="cmp7204cbc85cbc4d3faa2cfcb4907fa761" Guid="*">
                <File Id="fil650e290b77764952889587db5d4d020d" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.PowerShell.TargetDir)\LithnetPasswordProtection.dll" />
            </Component>
            <Component Id="cmp5b3dadeab922498faa0fbf7ee16f954b" Guid="*">
                <File Id="fil76e935b6b7f440508759f53a80340367" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.PowerShell.TargetDir)\LithnetPasswordProtection.pdb" />
            </Component>
            <Component Id="cmp8fd1ec557ac5456aa990cfc6992d7054" Guid="*">
                <File Id="fil21165ac6460349989add43fe3ecc4e39" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.PowerShell.TargetDir)\LithnetPasswordProtection.psd1" />
            </Component>
            <Component Id="cmpaf9ac17c7e274d8c941ca1f8fdaf9a44" Guid="*">
                <File Id="file5840797ac9cd4c25b383b94896db2c4b" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.PowerShell.TargetDir)\DSInternals.Common.dll" />
            </Component>
            <Component Id="cmp5e06cf0f45924429b9dfe527e9d03600" Guid="*">
                <File Id="filea792b4d9b07b403aa7bc9fd785fd5b02" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.PowerShell.TargetDir)\DSInternals.Replication.dll" />
            </Component>
            <Component Id="cmpe187c39309a1444a98a724d04d29d166" Guid="*">
                <File Id="filec12dd2a2507a486cb22789985ca18fb9" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.PowerShell.TargetDir)\DSInternals.Replication.Interop.dll" />
            </Component>
            <Component Id="cmp1a76f00a71584b5889e81c97333f8b77" Guid="*">
                <File Id="fileea9ce89a9d834e08a961a847c122f6dd" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.PowerShell.TargetDir)\DSInternals.Replication.Model.dll" />
            </Component>
            <Component Id="cmpb250217af8ee45e88914e9de43e757b3" Guid="*">
                <File Id="file18be3db5b36d491bad0993e5afa30958" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.PowerShell.TargetDir)\NDceRpc.Microsoft.dll" />
            </Component>

            <!--<Directory Id="dir8459fd46db3f4caf9bc3123af22f87a3" Name="en-us">
        <Component Id="cmp413ea4412fee4931a3d7b34e97f04b87" Guid="*">
          <File Id="filfdba194a56e5425681d7f54895170698" KeyPath="yes" Source="$(var.PasswordFilterPS.TargetDir)\en-us\PasswordFilterPS-help.xml" />
        </Component>
      </Directory>-->
        </DirectoryRef>

        <DirectoryRef Id="STOREDIR">
            <Component Id="cmp4ad81ba1ff4447269a6b9b34af6560f4"
                       Guid="06f1d30bb03e4a2991b36e28879f5fcb"
                       KeyPath="yes">
                <CreateFolder />
            </Component>
        </DirectoryRef>

        <ComponentGroup Id="GPOExtensions">
            <Component Id="cmp2fe2138ab7a64368a0a413c37086a5c7" Guid="*" Directory="POLICYFOLDER" >
                <File Id="filb2b013b45e4f46d29981a68089a81a2a" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.TargetDir)\PolicyDefinitions\lithnet.activedirectory.passwordfilter.admx" />
            </Component>
            <Component Id="cmp5f9749a416b54e96907026c4a19f36c5" Guid="*" Directory="POLICYFOLDERLOCALIZATIONS" >
                <File Id="fil7eb7a2f48a5d4db39db66191307e58e4" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.TargetDir)\PolicyDefinitions\en-US\lithnet.activedirectory.passwordfilter.adml" />
            </Component>

            <Component Id="cmp8f072b9d7556476d84579295536ec55d" Guid="*" Directory="POLICYFOLDER" Shared="yes" >
                <File Id="fileeb730f97aa0425e8de8c3882e01e77a" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.TargetDir)\PolicyDefinitions\lithnet.admx" />
            </Component>
            <Component Id="cmpfc02f2bf23f84411a9caff880722e9b2" Guid="*" Directory="POLICYFOLDERLOCALIZATIONS" Shared="yes">
                <File Id="filcdb3c2fedab347ef8306ab3c4f5f3d39" KeyPath="yes" Source="$(var.Lithnet.ActiveDirectory.PasswordProtection.TargetDir)\PolicyDefinitions\en-US\lithnet.adml" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="PSModule">
            <ComponentRef Id="cmp7204cbc85cbc4d3faa2cfcb4907fa761"/>
            <ComponentRef Id="cmp5b3dadeab922498faa0fbf7ee16f954b"/>
            <ComponentRef Id="cmp8fd1ec557ac5456aa990cfc6992d7054"/>
            <ComponentRef Id="cmpaf9ac17c7e274d8c941ca1f8fdaf9a44"/>
            <ComponentRef Id="cmp5aebe5a182914904ad6fe7ced1dfc5d6"/>
            <ComponentRef Id="cmp5e06cf0f45924429b9dfe527e9d03600"/>
            <ComponentRef Id="cmpe187c39309a1444a98a724d04d29d166"/>
            <ComponentRef Id="cmp1a76f00a71584b5889e81c97333f8b77"/>
            <ComponentRef Id="cmpb250217af8ee45e88914e9de43e757b3"/>
        </ComponentGroup>

        <ComponentGroup Id="NotificationPackage">
            <ComponentRef Id="cmp6339c3e064764797a0b4d747e655cb0e"/>
        </ComponentGroup>

        <ComponentGroup Id="FilterDLL">
            <ComponentRef Id="cmpa437d95c32f74a17b1b7537b38cd382a"/>
            <ComponentRef Id="cmp35ae4dbf6f7143f39ff05a2bbe7b4abf"/>
            <ComponentRef Id="cmpbdb687be91364145aa7b44287c14be38"/>
            <ComponentRef Id="cmp5aebe5a182914904ad6fe7ced1dfc5d6"/>
            <ComponentRef Id="cmp3d41c57e8c89436994a394bf0b01c885"/>
            <ComponentRef Id="cmp4ad81ba1ff4447269a6b9b34af6560f4"/>
        </ComponentGroup>
    </Product>
</Wix>