<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Active Directory Password Filter"
           Language="1033"
           Version="!(bind.FileVersion.fil8af462b935f3462f99441454d9154d51)"
           Manufacturer="Lithnet"
           UpgradeCode="0b7695f2-5eeb-4331-923a-ca56af5f1eb1">
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Manufacturer="Lithnet"
             Platform="x64"/>

    <MajorUpgrade Schedule="afterInstallExecute"
                  DowngradeErrorMessage="A later version of [ProductName] is already installed"
                  AllowSameVersionUpgrades="yes"/>
    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />


    <Property Id="STOREDIR" Secure="yes">
      <RegistrySearch Id="r152002c8c7b14f7f9d56a3129a68cac3"
                      Root="HKLM"
                      Key="Software\Lithnet\PasswordFilter"
                      Name="Store"
                      Type="raw"
                      Win64="yes" />
    </Property>

    <Property Id="INSTALLLEVEL" Value="2" />

    <UI>
      <UIRef Id="WixUI_FeatureTree" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="CustomizeDlg"
               Order="2">1</Publish>
      <Publish Dialog="CustomizeDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="3">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="StoreDialog" Order="1">1</Publish>

      <Publish Dialog="StoreDialog" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">1</Publish>
      <Publish Dialog="StoreDialog" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="StoreDialog" Order="1">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>
    </UI>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="System64Folder" Name="System64Folder" >
        <Directory Id="PSROOT" Name="WindowsPowerShell">
          <Directory Id="PSV1ROOT" Name ="v1.0">
            <Directory Id ="PSMODULESROOT" Name="Modules">
              <Directory Id="PSMODULEFOLDER" Name="PasswordFilterPS">
                <Directory Id="ENUSHELPFOLDER" Name="en-us"/>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="ProgramFiles64Folder" >
          <Directory Id="LITHNETROOTDIR" Name="Lithnet">
            <Directory Id="APPROOTDIR" Name="Active Directory Password Filter">
              <Directory Id="STOREDIR" Name="Store"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="WindowsFolder">
        <Directory Id="POLICYFOLDER" Name="PolicyDefinitions">
          <Directory Id="POLICYFOLDERLOCALIZATIONS" Name="en-US"/>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Filter" Title="Lithnet Active Directory Password Filter" Level="1" AllowAdvertise="no" Display="expand" TypicalDefault="install">
      <Feature Id="FeatureNotificationPackage" Title="Enable password filtering on this computer" Level="2" AllowAdvertise="no" TypicalDefault="install" Description="This feature registers the password filter with the Windows LSASS process. On domain controllers, this means all user password changes are processed by the filter. On workstations and member services, this only impacts passwords set for local users">
        <ComponentRef Id="cmp6339c3e064764797a0b4d747e655cb0e"/>
        <ComponentGroupRef Id="FilterDLL" />
      </Feature>
      <Feature Id="FeaturePSModule" Title="PowerShell module" Level="2" AllowAdvertise="no" TypicalDefault="install" Description="Installs the PowerShell module on this computer which allows you to manage the password store and test passwords">
        <ComponentGroupRef Id="PSModule"/>
        <ComponentGroupRef Id="FilterDLL" />
      </Feature>
      <Feature Id="FeatureGPOExtensions" Title="Group policy templates (ADMX)" Level="2" AllowAdvertise="no" TypicalDefault="install" Description="Installs the group policy ADMX files which allows you to edit the Password Filter group policy settings from this machine">
        <ComponentGroupRef Id="GPOExtensions"/>
      </Feature>
    </Feature>

    <DirectoryRef Id="System64Folder">
      <Component Id="cmpa437d95c32f74a17b1b7537b38cd382a" Win64="yes" Guid="*">
        <File Id="fil8af462b935f3462f99441454d9154d51" KeyPath="yes" Source="$(var.PasswordFilter.TargetPath)" />
      </Component>

      <Component Id="cmp6339c3e064764797a0b4d747e655cb0e" Guid="*">
        <RegistryKey Root="HKLM"
                     Key="System\CurrentControlSet\Control\Lsa">
          <RegistryValue Type="multiString" Action="append" Name="Notification Packages" Value="lithnetpwdf"/>
        </RegistryKey>
      </Component>

      <Component Id="cmp35ae4dbf6f7143f39ff05a2bbe7b4abf" Guid="*">
        <RegistryKey Root="HKLM"
                     Key="Software\Lithnet\PasswordFilter"
                     ForceDeleteOnUninstall="yes">
          <RegistryValue Type="integer" Action="write" Name="Disabled" Value="0"/>
          <RegistryValue Type="string" Action="write" Name="Store" Value="[STOREDIR]"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="APPROOTDIR">
      <Component Id="cmpbdb687be91364145aa7b44287c14be38" Win64="yes" Guid="*">
        <File Id="filf07cd47e42574680b2b8a690abac7806" KeyPath="yes" Source="$(var.PasswordFilter.ProjectDir)messages.dll" />
      </Component>

      <Component Id="cmp3d41c57e8c89436994a394bf0b01c885" Guid="*" Win64="yes" >
        <Util:EventSource xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
                          Name="LithnetPasswordFilter" Log="Application" EventMessageFile="[APPROOTDIR]messages.dll" SupportsErrors="yes" SupportsInformationals="yes" SupportsWarnings="yes" KeyPath="yes"/>
      </Component>

      <Component Id="cmp5aebe5a182914904ad6fe7ced1dfc5d6" Guid="*" Win64="yes" >
        <File Id="fil0094ab6a8db643d2b6bcd01c42b88ca1" KeyPath="yes" Source="$(var.StoreInterface.TargetDir)StoreInterface.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="PSMODULEFOLDER">
      <Component Id="cmp7204cbc85cbc4d3faa2cfcb4907fa761" Guid="*">
        <File Id="fil650e290b77764952889587db5d4d020d" KeyPath="yes" Source="$(var.PasswordFilterPS.TargetDir)\PasswordFilterPS.dll" />
      </Component>
      <Component Id="cmp5b3dadeab922498faa0fbf7ee16f954b" Guid="*">
        <File Id="fil76e935b6b7f440508759f53a80340367" KeyPath="yes" Source="$(var.PasswordFilterPS.TargetDir)\PasswordFilterPS.pdb" />
      </Component>
      <Component Id="cmp8fd1ec557ac5456aa990cfc6992d7054" Guid="*">
        <File Id="fil21165ac6460349989add43fe3ecc4e39" KeyPath="yes" Source="$(var.PasswordFilterPS.TargetDir)\PasswordFilterPS.psd1" />
      </Component>
      <Component Id="cmp1fd70d1ed9384b2089e7419192ca41f7" Guid="*">
        <File Id="filedb8d7c74f7f44bdb56b64fe3742eca1" KeyPath="yes" Source="$(var.PasswordFilterPS.TargetDir)\StoreInterface.dll" />
      </Component>
      <!--<Directory Id="dir8459fd46db3f4caf9bc3123af22f87a3" Name="en-us">
        <Component Id="cmp413ea4412fee4931a3d7b34e97f04b87" Guid="*">
          <File Id="filfdba194a56e5425681d7f54895170698" KeyPath="yes" Source="$(var.PasswordFilterPS.TargetDir)\en-us\PasswordFilterPS-help.xml" />
        </Component>
      </Directory>-->
    </DirectoryRef>

    <ComponentGroup Id="GPOExtensions">
      <Component Id="cmp2fe2138ab7a64368a0a413c37086a5c7" Guid="*" Directory="POLICYFOLDER" >
        <File Id="filb2b013b45e4f46d29981a68089a81a2a" KeyPath="yes" Source="$(var.StoreInterface.TargetDir)\PolicyDefinitions\lithnet.activedirectory.passwordfilter.admx" />
      </Component>
      <Component Id="cmp5f9749a416b54e96907026c4a19f36c5" Guid="*" Directory="POLICYFOLDERLOCALIZATIONS" >
        <File Id="fil7eb7a2f48a5d4db39db66191307e58e4" KeyPath="yes" Source="$(var.StoreInterface.TargetDir)\PolicyDefinitions\en-US\lithnet.activedirectory.passwordfilter.adml" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PSModule">
      <ComponentRef Id="cmp7204cbc85cbc4d3faa2cfcb4907fa761"/>
      <ComponentRef Id="cmp5b3dadeab922498faa0fbf7ee16f954b"/>
      <ComponentRef Id="cmp8fd1ec557ac5456aa990cfc6992d7054"/>
      <ComponentRef Id="cmp1fd70d1ed9384b2089e7419192ca41f7"/>
    </ComponentGroup>

    <ComponentGroup Id="NotificationPackage">
      <ComponentRef Id="cmp6339c3e064764797a0b4d747e655cb0e"/>
    </ComponentGroup>

    <ComponentGroup Id="FilterDLL">
      <ComponentRef Id="cmpa437d95c32f74a17b1b7537b38cd382a"/>
      <ComponentRef Id="cmp35ae4dbf6f7143f39ff05a2bbe7b4abf"/>
      <ComponentRef Id="cmpbdb687be91364145aa7b44287c14be38"/>
      <ComponentRef Id="cmp5aebe5a182914904ad6fe7ced1dfc5d6"/>
      <ComponentRef Id="cmp3d41c57e8c89436994a394bf0b01c885"/>
    </ComponentGroup>
  </Product>
</Wix>