<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Active Directory Password Filter"
           Language="1033"
           Version="!(bind.FileVersion.fil8af462b935f3462f99441454d9154d51)"
           Manufacturer="Lithnet"
           UpgradeCode="0b7695f2-5eeb-4331-923a-ca56af5f1eb1">
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Manufacturer="Lithnet"
             Platform="x64"/>

    <MajorUpgrade Schedule="afterInstallExecute"
                  DowngradeErrorMessage="A later version of [ProductName] is already installed"
                  AllowSameVersionUpgrades="yes"/>
    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />


    <Property Id="STOREDIR" Secure="yes">
      <RegistrySearch Id="r152002c8c7b14f7f9d56a3129a68cac3"
                      Root="HKLM"
                      Key="Software\Lithnet\PasswordFilter"
                      Name="Store"
                      Type="raw"
                      Win64="yes" />
    </Property>

    <Property Id="INSTALLLEVEL" Value="2" />

    <UI>
      <UIRef Id="WixUI_FeatureTree" />
      
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="CustomizeDlg"
               Order="2">1</Publish>
      <Publish Dialog="CustomizeDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="3">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="StoreDialog" Order="1">1</Publish>

      <Publish Dialog="StoreDialog" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">1</Publish>
      <Publish Dialog="StoreDialog" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="StoreDialog" Order="1">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>
    </UI>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="System64Folder" Name="System64Folder" />
      <Directory Id="ProgramFiles64Folder" >
        <Directory Id="LITHNETROOTDIR" Name="Lithnet">
          <Directory Id="APPROOTDIR" Name="Active Directory Password Filter">
            <Directory Id="STOREDIR" Name="Store"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Filter" Title="Lithnet Active Directory Password Filter" Level="1" AllowAdvertise="no" Display="expand" TypicalDefault="install">
      <Feature Id="FeatureNotificationPackage" Title="Enable password filtering on this computer" Level="2" AllowAdvertise="no" TypicalDefault="install" Description="This feature registers the password filter with the Windows LSASS process. On domain controllers, this means all user password changes are processed by the filter. On workstations and member services, this only impacts passwords set for local users">
        <ComponentRef Id="cmp6339c3e064764797a0b4d747e655cb0e"/>
      </Feature>
      <!--<Feature Id="FeatureDLL" Title="Password filter DLL" Level="1" AllowAdvertise="no"  TypicalDefault="install">
      </Feature>-->
      <ComponentGroupRef Id="FilterDLL" />

    </Feature>

    <DirectoryRef Id="System64Folder">
      <Component Id="cmpa437d95c32f74a17b1b7537b38cd382a" Win64="yes" Guid="*">
        <File Id="fil8af462b935f3462f99441454d9154d51" KeyPath="yes" Source="$(var.PasswordFilter.TargetPath)" />
      </Component>

      <Component Id="cmp6339c3e064764797a0b4d747e655cb0e" Guid="*">
        <RegistryKey Root="HKLM"
                     Key="System\CurrentControlSet\Control\Lsa">
          <RegistryValue Type="multiString" Action="append" Name="Notification Packages" Value="lithnetpwdf"/>
        </RegistryKey>
      </Component>

      <Component Id="cmp35ae4dbf6f7143f39ff05a2bbe7b4abf" Guid="*">
        <RegistryKey Root="HKLM"
                     Key="Software\Lithnet\PasswordFilter"
                     ForceDeleteOnUninstall="yes">
          <RegistryValue Type="integer" Action="write" Name="Disabled" Value="0"/>
          <RegistryValue Type="string" Action="write" Name="Store" Value="[STOREDIR]"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="APPROOTDIR">
      <Component Id="cmpbdb687be91364145aa7b44287c14be38" Win64="yes" Guid="*">
        <File Id="filf07cd47e42574680b2b8a690abac7806" KeyPath="yes" Source="$(var.PasswordFilter.ProjectDir)messages.dll" />
      </Component>

      <Component Id="cmp3d41c57e8c89436994a394bf0b01c885" Guid="*" Win64="yes" >
        <Util:EventSource xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
                          Name="LithnetPasswordFilter" Log="Application" EventMessageFile="[APPROOTDIR]messages.dll" SupportsErrors="yes" SupportsInformationals="yes" SupportsWarnings="yes" KeyPath="yes"/>
      </Component>

      <Component Id="cmp5aebe5a182914904ad6fe7ced1dfc5d6" Guid="*" Win64="yes" >
          <File Id="fil0094ab6a8db643d2b6bcd01c42b88ca1" KeyPath="yes" Source="$(var.StoreInterface.TargetDir)StoreInterface.dll" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="NotificationPackage">
      <ComponentRef Id="cmp6339c3e064764797a0b4d747e655cb0e"/>
    </ComponentGroup>

    <ComponentGroup Id="FilterDLL">
      <ComponentRef Id="cmpa437d95c32f74a17b1b7537b38cd382a"/>
      <ComponentRef Id="cmp35ae4dbf6f7143f39ff05a2bbe7b4abf"/>
      <ComponentRef Id="cmpbdb687be91364145aa7b44287c14be38"/>
      <ComponentRef Id="cmp5aebe5a182914904ad6fe7ced1dfc5d6"/>
      <ComponentRef Id="cmp3d41c57e8c89436994a394bf0b01c885"/>
    </ComponentGroup>
  </Product>
</Wix>