<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSInternals.Common" version="4.7.0" targetFramework="net472" />
  <package id="DSInternals.Replication" version="4.7.0" targetFramework="net472" />
  <package id="NDceRpc" version="0.2.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PeterO.Cbor" version="4.5.1" targetFramework="net472" />
  <package id="PeterO.Numbers" version="1.5.1" targetFramework="net472" />
  <package id="PeterO.URIUtility" version="1.0.0" targetFramework="net472" />
  <package id="protobuf-net" version="2.4.4" targetFramework="net472" />
  <package id="System.Management.Automation" version="6.1.6" targetFramework="net461" />
</packages>