<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSInternals.Common" version="3.2.0" targetFramework="net46" />
  <package id="DSInternals.Replication" version="3.2.0" targetFramework="net46" />
  <package id="NDceRpc" version="0.2.1.0" targetFramework="net46" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net46" />
  <package id="System.Management.Automation" version="6.1.6" targetFramework="net461" />
</packages>